ASM_DatNV/WebASM/WebASM/Service References/ServiceReference1/BankService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1205/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceASM" />
  <xs:element name="ThanhToan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceASM" minOccurs="0" name="dt" nillable="true" type="q1:DoiTac" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceASM" minOccurs="0" name="kh" nillable="true" type="q2:KhachHang" />
        <xs:element minOccurs="0" name="soTien" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThanhToanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThanhToanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LSKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LSKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceASM" minOccurs="0" name="LSKHResult" nillable="true" type="q3:ArrayOfGiaoDich" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LSDT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LSDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceASM" minOccurs="0" name="LSDTResult" nillable="true" type="q4:ArrayOfGiaoDich" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>