ASM_DatNV/WebASM/WebASM/Service References/ServiceReference1/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServiceASM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServiceASM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoiTac">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaDT" type="xs:int" />
      <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoDu" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaoDiches" nillable="true" type="tns:ArrayOfGiaoDich">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoiTac" nillable="true" type="tns:DoiTac" />
  <xs:complexType name="ArrayOfGiaoDich">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GiaoDich" nillable="true" type="tns:GiaoDich" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGiaoDich" nillable="true" type="tns:ArrayOfGiaoDich" />
  <xs:complexType name="GiaoDich">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaGD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaDT" type="xs:int" />
      <xs:element minOccurs="0" name="MaKH" type="xs:int" />
      <xs:element minOccurs="0" name="SoTien" type="xs:decimal" />
      <xs:element minOccurs="0" name="PhiGD" type="xs:decimal" />
      <xs:element minOccurs="0" name="ThoiGian" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TenGD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GiaoDich" nillable="true" type="tns:GiaoDich" />
  <xs:complexType name="KhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaKH" type="xs:int" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoDu" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaoDiches" nillable="true" type="tns:ArrayOfGiaoDich">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHang" nillable="true" type="tns:KhachHang" />
</xs:schema>