ASM_DatNV/WebASM/WebASM/Service References/ServiceReference1/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1205/BankService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1205/BankService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1205/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceASM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_ThanhToan_InputMessage">
    <wsdl:part name="parameters" element="tns:ThanhToan" />
  </wsdl:message>
  <wsdl:message name="IBankService_ThanhToan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThanhToanResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_LSKH_InputMessage">
    <wsdl:part name="parameters" element="tns:LSKH" />
  </wsdl:message>
  <wsdl:message name="IBankService_LSKH_OutputMessage">
    <wsdl:part name="parameters" element="tns:LSKHResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_LSDT_InputMessage">
    <wsdl:part name="parameters" element="tns:LSDT" />
  </wsdl:message>
  <wsdl:message name="IBankService_LSDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:LSDTResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="ThanhToan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/ThanhToan" message="tns:IBankService_ThanhToan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/ThanhToanResponse" message="tns:IBankService_ThanhToan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LSKH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/LSKH" message="tns:IBankService_LSKH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/LSKHResponse" message="tns:IBankService_LSKH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LSDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/LSDT" message="tns:IBankService_LSDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/LSDTResponse" message="tns:IBankService_LSDT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankService" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThanhToan">
      <soap:operation soapAction="http://tempuri.org/IBankService/ThanhToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSKH">
      <soap:operation soapAction="http://tempuri.org/IBankService/LSKH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LSDT">
      <soap:operation soapAction="http://tempuri.org/IBankService/LSDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BasicHttpBinding_IBankService" binding="tns:BasicHttpBinding_IBankService">
      <soap:address location="http://localhost:1205/BankService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>